
<div class="container" th:fragment="contentFragment">

  <div class="row mb-3">
    <div class="col">
      <div class="btn-group">
        <a title="list of NE" class=" btn btn-success mr-auto active" href="/ne/list">
          <i class="fas fa-server"></i>
          <i class="fas fa-bars"></i>
        </a>
        <div class="alert alert-dark m-0 px-0"></div>
        <a title="Add NE" class=" btn btn-success mr-auto  " href="/ne/add">
          <i class="fas fa-server"></i>
          <i class="fas fa-plus"></i>
        </a>
      </div>

    <div class="btn-group">
      <a title="list of NEType-Team" class=" btn btn-primary mr-auto" href="/netype/team/list">
                    <span class="icon-stack">
                       <i class="fa fa-user-group icon-stack-3x"></i>
                       <i class="fa fa-hard-drive icon-stack-1x"></i>
                    </span>
        <i class="fas fa-bars"></i>
      </a>
      <div class="alert alert-dark m-0 px-0"></div>
      <a title="Add NEType-Team" class=" btn btn-primary mr-auto" href="/netype/team/add">
                    <span class="icon-stack">
                       <i class="fa fa-user-group icon-stack-3x"></i>
                       <i class="fa fa-hard-drive icon-stack-1x"></i>
                    </span>
        <i class="fas fa-plus"></i>
      </a>
    </div>

    <div class="btn-group">
      <a title="NEType list" class=" btn btn-primary mr-auto" href="/netype/list">
        <i class="fas fa-hard-drive"></i>
        <i class="fas fa-bars"></i>
      </a>
      <div class="alert alert-dark m-0 px-0"></div>
      <a title="NEType team" class=" btn btn-primary mr-auto " href="/netype/add">
        <i class="fas fa-hard-drive"></i>
        <i class="fas fa-plus"></i>
      </a>
    </div>

    <div class="btn-group">
      <a title="list of Teams" class=" btn btn-primary mr-auto" href="/team/list">
        <i class="fas fa-user-group"></i>
        <i class="fas fa-bars"></i>
      </a>
      <div class="alert alert-dark m-0 px-0"></div>
      <a title="Add team" class=" btn btn-primary mr-auto" href="/team/add">
        <i class="fas fa-user-group"></i>
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </div>
  </div>

  <h2>NE List</h2>
  <table class="table">
    <thead>
    <tr>
      <th>NE ID</th>
      <th>NE</th>
      <th>City</th>
      <th>NEType</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="ne_ : ${neList}">
      <td th:text="${ne_.id_ne}"></td>
      <td th:text="${ne_.nename}"></td>
      <td th:text="${ne_.city.name}"></td>
      <td th:text="${ne_.netype.name}"></td>

    </tr>
    </tbody>
  </table>
</div>
