
<div class="container" th:fragment="contentFragment">

<div class="rounded m-5 text-center shadow px-5 py-2">
    <h1>Petitions of Kazakhstan</h1>
    <p class="mx-5">We accept petitions from citizens of Kazakhstan on issues that concern society and require the attention of the state.
        Entering IIN and phone numbers is necessary to avoid vote cheating and manipulation of public opinion.
        By creating or signing a petition here, you join a community of passionate individuals united by a common goal:
        driving positive change
    </p>
</div>
</div>