<div class="container" th:fragment="contentFragment">
<!--    <script th:inline="javascript">-->
<!--        /*<![CDATA[*/-->
<!--        var message = /*[[${petition}]]*/ 'default';-->
<!--        console.log(message)-->
<!--        /*]]>*/-->
<!--    </script>-->
<div class="row">
    <!-- Статистика петиции -->
    <div class="col-md-4">
        <h4>Petition Statistics</h4>
        <p>Signed: <span th:text="${votes.size}"></span></p>
        <p>Needed: <span th:text="${petition.minNumberVotes}"></span></p>
        <p>Percentage: <span th:text="${(votes.size / petition.minNumberVotes) * 100}"></span>%</p>
    </div>

    <!-- Содержание петиции -->
    <div class="col-md-4">
        <h2 th:text="${petition.header}"></h2>
        <p th:text="${petition.text}"></p>
    </div>

    <!-- Список голосов -->
    <div class="col-md-4">
        <h4>Signatures</h4>
        <table class="table">
            <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Accepted</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vote : ${votes}">
                <td th:text="${vote.user.getName()}"></td>
                <td th:text="${#dates.format(vote.voteTime, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${vote.vote ? 'Accepted' : 'Rejected'}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>