<div class="container" th:fragment="contentFragment">
    <!--<section class="vh-100" style="background-color: #d9d9d9;">-->
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div>
                            <div class="row mt-2">
                                <h2 class="m-3">Vote</h2>
                            </div>
                            <form th:action="@{/vote/add/{id}(id=${petition.petitionId})}" method="post" th:object="${petition}" class="px-4">
                                <label for="header" class="col-sm-5 col-form-label">Header</label>
                                <p id="header"  autofocus="autofocus" th:text="${petition.header}"
                                   class="mb-3"></p>
                                <hr class="mb-2">
                                <label for="text" class="col-sm-5 col-form-label" th:text="${petition.text}">Text</label>
                                <p id="text" autofocus="autofocus"
                                          class=" mb-3"></p>
                                <hr class="mb-2">
                                <label for="check" class="form-label">Allow usage of personal information</label>
                                <input type="checkbox"  id="check" autofocus="autofocus" checked="checked" value="true"
                                       class="form-check-input mb-3" name="vote">
                                <label for="check">I agree</label>
                                <hr class="mb-2">
                                <div class="mb-3 row">
                                    <button type="submit" class="btn btn-warning">Vote</button>
                                    <br>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--</section>-->
</div>