
<div class="container" th:fragment="contentFragment">
    <div class="row mb-3">
        <div class="col">

            <div class="btn-group">
                <a title="list of Access" class=" btn btn-success mr-auto" href="/access/list">
                    <i class="fas fa-shield-halved"></i>
                    <i class="fas fa-bars"></i>
                </a>
                <div class="alert alert-dark m-0 px-0"></div>
                <a title="Add Access" class=" btn btn-success mr-auto" href="/access/add">
                    <i class="fas fa-shield-halved"></i>
                    <i class="fas fa-plus"></i>
                </a>
            </div>

            <div class="btn-group">
                <a title="Team list" class=" btn btn-primary mr-auto " href="/team/list">
                    <i class="fas fa-user-group"></i>
                    <i class="fas fa-bars"></i>
                </a>
                <div class="alert alert-dark m-0 px-0"></div>
                <a title="Add team" class=" btn btn-primary mr-auto " href="/team/add">
                    <i class="fas fa-user-group"></i>
                    <i class="fas fa-plus"></i>
                </a>
            </div>

            <div class="btn-group">
                <a title="list of User" class=" btn btn-primary mr-auto" href="/employee/list">
                    <i class="fas fa-user"></i>
                    <i class="fas fa-bars"></i>
                </a>
                <div class="alert alert-dark m-0 px-0"></div>
                <a title="Add employee" class=" btn btn-primary mr-auto" href="/employee/add">
                    <i class="fas fa-user"></i>
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>
    </div>

    <a class="navbar-brand" title="My PPWs" href="/myppwlist">
        Help
    </a>
    <h2>Help for InfluenceLVLt</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Name of object</th>
            <th>Support normal InfluenceLVL</th>
            <th>Support null InfluenceLVL</th>
        </tr>
        </thead>
        <tbody>
<!--        <tr th:each="access : ${accessMyList}">-->
<!--            <td th:text="${access.id}"></td>-->
<!--            <td th:text="${access.model}"></td>-->
<!--            <td th:text="${access.privlvl.getLevel()}"></td>-->
<!--            <td th:text="${access.influencelvl.getLevel()}"></td>-->
<!--            <td th:text="${access.read_}"></td>-->
<!--            <td th:text="${access.create_}"></td>-->
<!--            <td th:text="${access.assigned_}"></td>-->
<!--            <td th:text="${access.edit_}"></td>-->
<!--            <td th:text="${access.delete_}"></td>-->
<!--            <td th:text="${access.close_}"></td>-->
<!--            -->

<!--        </tr>-->
        <tr>
            <td>PPW</td>
            <td>Yes</td>
            <td>No</td>
        </tr>
<tr>
    <td>Task</td>
    <td>Yes</td>
    <td>No</td>
</tr>
<tr>
    <td>User</td>
    <td>Yes</td>
    <td>No</td>
</tr>
<tr>
    <td>Team</td>
    <td>Yes</td>
    <td>No</td>
</tr>
<tr>
    <td>NE</td>
    <td>No</td>
    <td>Yes</td>
</tr>        <tr>
    <td>NEType</td>
    <td>No</td>
    <td>Yes</td>
</tr>        <tr>
    <td>City</td>
    <td>No</td>
    <td>Yes</td>
</tr>        <tr>
    <td>Access</td>
    <td>Yes</td>
    <td>Yes</td>
</tr>        <tr>
    <td>Objects</td>
    <td>No</td>
    <td>No</td>
</tr>        <tr>
    <td>Notification</td>
    <td>No</td>
    <td>Yes</td>
</tr>
<tr>
    <td>ReminderPPW</td>
    <td>No</td>
    <td>Yes</td>
</tr>
<tr>
    <td>ReminderTask</td>
    <td>No</td>
    <td>Yes</td>
</tr>
<tr>
    <td>Subject</td>
    <td>No</td>
    <td>Yes</td>
</tr>
<tr>
    <td>Message</td>
    <td>No</td>
    <td>Yes</td>
</tr>
<tr>
    <td>Level</td>
    <td>Yes</td>
    <td>Yes</td>
</tr>



        </tbody>
    </table>


    <script>
        function edit_page_redirect(button){
            if (!button.disabled) {
                var id = button.getAttribute('data-id');
                window.location.href = '/access/edit/' + id;
            }
        }
    </script>
</div>
